<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="amazon.utilities.ExtentreportListenerclass"></listener>
	</listeners>
  <test   name="Test">
    <classes>
      <class name="amazon.testcases.TC_myaccountpageTest"/>
      <class name="amazon.testcases.TC_productpage"/>
    </classes>
  </test>
</suite>
